/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #709775;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    font-size: 16px;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #a7ffeb;
}

.features {
    text-align: center;
    background-color: #709775;
}

.intro {
    text-align: center;
    background-color: #D9F5DA;
}

/*Content padding need to study this*/


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
  }

  .flex-item {
    flex: 1; /* Items will grow and shrink equally */
    margin: 5px;
    padding: 10px;
    background: #e8f5e9;
  }

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
}

legend {
    font-weight: bold;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    margin-right: 10px;
    width: 40%; /* Adjust width as needed */
}

.form-row input, .form-row select {
    width: 60%; /* Adjust width as needed */
    flex-grow: 1;
}


main {
    padding: 5px;  
}

/*Content padding */


footer {
    background-color: #709775;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

.footer-links a {
    color: #a5d6a7;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    color: #ffffff;
}

/* Responsive Design for Navigation */
@media (max-width: 600px) {
    nav ul {
        text-align: center;
    }
    nav ul li {
        display: block;
        margin-bottom: 5px;
    }
}

/* end of homepage*/


.logo {
    justify-content: center;
    width: 100px;
    height: auto;
}



.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }



  /*Loan Application Form*/




  #submitbutton {
    background-color: #45a049; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: bold;

  }
  
  .welcomeSection {
    width: 50%;
    margin: 0 auto;
  }


  /* User dashboard*/

  section {
    padding: 20px;
  }

  section h3 {
    padding: 10px 0;
  }

